<!DOCTYPE html>
    <!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
    <!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
    <!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
    <head>
        <title>{% block title %}{{ blog.name }}{% endblock %}</title>
        <link rel="icon" href="/static/img/favicon.ico" />
        <meta name="description" content="Sympodial is the home of Barry Melton, an Annapolis-based web developer." />
        <meta name="keywords" content="Annapolis, Baltimore, DC, Web, Developer, HTML, CSS, Python, AJAX, Javascript" />
        <link rel="alternate" title="Sympodial RSS Feed" href="/rss" type="application/rss+xml" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link href="http://fonts.googleapis.com/css?family=Lato:300,900" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/static/css/base.css">
        <link rel="stylesheet" href="/static/css/skeleton.css">
        <link rel="stylesheet" href="/static/css/layout.css">
        <link rel="stylesheet" href="/static/css/style.css?v=73">
    </head>
    <body>
        <div class="container" style="text-align: left;">
            <div class="sixteen columns alpha omega" style="margin-bottom: 20px; text-align: left;">
                <div class="sixteen columns alpha omega" style="text-align: center;">
                    <a href="/"><h1 style="font-size: 48pt;">{% block site_name %}{% endblock %}</h1></a>
                </div>
                <div id="tagline" class="sixteen columns alpha omega" style="text-align: center;">
                    <h3 style="color: #999;">{{ blog.tagline }}</h3>
                </div>
                <div id="search" style="position: absolute; top: 0; right: 0;">
                        {% if blog.site_search %}
                        <form style="text-align: right;">
                            <input type="text" id="st-search-input" class="st-search-input" />
                        </form>
                        <div id="st-results-container"></div>
                        {% endif %}
                </div>
                <div class="sixteen columns alpha omega">
                        {% block main %}{% endblock %}
                </div>
                <div id="body_content" class="sixteen columns alpha omega">
                        {% include "recent.html" %}
                </div>
                <div id="footer" class="sixteen columns alpha omega">
                    Footer goes here.
                </div>
            </div>
        </div>
        {% if blog.analytics %}
        <script type="text/javascript"> var _gaq = _gaq || []; _gaq.push(['_setAccount', '{{ blog.analytics_key }}']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ?  'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })(); </script>
        {% endif %}
        {% if blog.disqus %}
        <script type="text/javascript">
            var disqus_shortname = '{{ blog.disqus_shortname }}'; 
            (function() {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>
            Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
        </noscript>
        {% endif %}
        {% if blog.site_search %}
        <script type="text/javascript">
            var Swiftype = window.Swiftype || {};
            (function() {
                Swiftype.key = '{{ blog.site_search_key }}';
                Swiftype.inputElement = '#st-search-input';
                Swiftype.resultContainingElement = '#st-results-container';
                Swiftype.attachElement = '#st-search-input';
                Swiftype.renderStyle = "overlay";

                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.async = true;
                script.src = "//swiftype.com/embed.js";
                var entry = document.getElementsByTagName('script')[0];
                entry.parentNode.insertBefore(script, entry);
            }());
        </script>
        {% endif %}
    </body>
</html>
